@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Body Background */
body {
  font-family: "DM Sans", sans-serif;
  background: #000;
}

section {
  color: white;
  margin: 1rem;
  padding: 20px;
}
/**/
.section-title {
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
  font-weight: bold;
}

.section-description {
  font-weight: 100;
  font-size: 14px;
}

.contact-button {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border-color: transparent;
  background: linear-gradient(
    90deg,
    rgba(0, 116, 1, 1) 11%,
    rgba(255, 226, 0, 1) 95%
  );
  margin: 2rem 0;
  font-weight: 200;
}

.inspirational-stories {
  display: flex;
  margin-bottom: 2rem;
  font-size: 11px;
  align-items: center;
}
.history-quote {
  font-weight: 900;
}
/**/
.first_section {
  margin-top: 9rem;
}
.first_section-img img {
  mask-image: linear-gradient(black 80%, transparent);
  filter: grayscale(1);
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  padding: 1rem 0;
}
.first_section-img span {
  font-size: 4rem;
  position: relative;
  top: -29px;
  left: 60%;
  color: red;
  font-family: "DM Sans", sans-serif;
}
.background-image {
  position: absolute;
  width: 16rem;
  opacity: 0.5;
}
.background-container {
  position: relative;
}

.background-image {
  position: absolute;
  top: calc(80svh + 16svw);
  left: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.history-image {
  position: relative;
  z-index: 1;
}
.background-container {
  position: relative;
}

.history-image {
  position: relative;
  z-index: 1;
}
.text_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text_container img {
  padding: 1rem 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
}
.vision-section {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(0, 116, 1, 1) 11%,
    rgba(255, 226, 0, 1) 95%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
.community-section button {
  background: #ffe200;
  border-radius: 3px;
  padding: 10px 1rem;
  border: transparent;
  color: #010101;
}
.community-section {
  color: white;
  border: solid 1px white;
  border-radius: 21px;
  padding: 6rem;
  width: 90%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
footer {
  color: rgb(240, 240, 240);
}

.Footer_Mid-Container {
  gap: 4rem;
  display: flex;
  margin: 2rem;
  flex-flow: wrap;
}

.Footer_Mid-Container div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.Footer_Mid-Container span {
  font-weight: 900;
  font-size: 1.2rem;
}

footer > p {
  font-size: 3rem;
  font-weight: 100;
  margin: 2rem;
}

.Footer_Mid-Container a {
  text-decoration: none;
  color: rgb(240, 240, 240);
}

.Footer_Ubi span {
  font-weight: 900;
  margin: 1rem;
}

.Footer_Down-Container {
  color: rgba(240, 240, 240, 0.4);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  transition: transform 0.25s ease;
}

.modal-content:hover {
  transform: scale(1.1);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 760px) {
  .first_section-container {
    width: 44svw;
  }
  .first_section {
    justify-content: space-between;
    display: flex;
  }
  .history-image {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 21px;
    min-width: 20rem;
  }
  .first_section-img img {
    border-bottom: solid 6px white;
  }
  .text_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .background-image {
    top: 20svh;
    right: 20%;
    left: unset;
  }

  .vision-section {
    height: 7rem;
    background: linear-gradient(
      90deg,
      rgba(0, 116, 1, 1) 11%,
      rgba(255, 226, 0, 1) 95%
    );
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: aliceblue;
    align-items: center;
  }
}
/* Me falta agregar el cuadrado con degrade de la primera foto,
 me falta agregar los puntos a las 2 ultimas secciones de abajo
  colocar animacion de que va apareciendo el texto al bajar mas
   acomodar vision y mision*/
